@charset "UTF-8";

/* home register */

.home {
    margin: 0 auto;
    padding: 0;
    height: auto;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-4);
    margin-bottom: 1rem;
}

.page-subtitle {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-4);
    margin-bottom: 1rem;
}

.register-form-container {
    background-color: var(--color-2);
    padding: 2rem;
    width: 100%;
    min-width: 500px;
    max-width: 750px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.register-form-group {
    display: flex;
    flex-direction: column;
}

.register-label {
    font-size: 1.2rem;
    font-weight: 550;
    color: var(--color-4);
    width: 100%;
    min-width: 400px;
    max-width: 550px;
}

.register-input {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid var(--color-3);
    transition: all 0.3s ease-in-out;
}

.register-input:focus {
    border-color: var(--color-1) !important;
    box-shadow: 0 0 5px var(--color-1) !important;
    outline: none;
}

.register-input::placeholder {
    color: var(--color-3);
}

.register-input:focus::placeholder {
    color: var(--color-4);
}

.register-button {
    background-color: white;
    color: var(--color-4);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
}

.register-button:hover {
    background-color: var(--color-1);
    color: var(--color-5);
}

.have-an-account {
    font-size: 1.1rem;
    font-weight: 550;
    color: var(--color-4);
}

.have-an-account a {
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.have-an-account a:hover {
    color: var(--color-4);
}